<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="main.css" type="text/css" rel="stylesheet">
</head>
<script type='text/javascript' src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.21/vue.min.js"></script>
<body>
<script type="text/x-template" id="grid-template">
    <table>
        <thead>
        <tr>
            <th v-for="key in columns"
                @click="sortBy(key)"
                :class="{active: sortKey == key}">
                {{key | capitalize}}
          <span class="arrow"
                :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
        </tr>
        </thead>
        <tbody>
        <tr v-for="
        entry in data
        | filterBy filterKey
        | orderBy sortKey sortOrders[sortKey]">
            <td v-for="key in columns">
                {{entry[key]}}
            </td>
        </tr>
        </tbody>
    </table>
</script>

<!-- demo root element -->
<div id="demo">
    <form id="search">
        Search <input name="query" v-model="searchQuery">
    </form>
    <demo-grid
            :data="gridData"
            :columns="gridColumns"
            :filter-key="searchQuery">
    </demo-grid>
    <button @click="next" id="next">下一页</button>
    <button @click="prev" id="prev">上一页</button>
</div>

<div id="show">
    <div>
        <select  v-model="A">
            <option v-for="key in gridData">
                {{key.title}}
            </option>
        </select>
    </div>
    <div id="title">{{selection.title}}</div>
    <div id="time">{{selection.time}}</div>
    <div id="content">{{selection.content}}</div>
    <div id="modify">
        <div class="row">
            <button class="btn" v-on:click="getTime">time</button>
            <!--<a>time</a>-->
            <input type="text" id="input_time">
        </div>
        <div class="row">
            <!--<a>title</a>-->
            <button class="btn" v-on:click="getTitle">title</button>
            <input type="text" id="input_title">
        </div>
        <div class="row">
            <button class="btn" v-on:click="getPosition">position</button>
            <input type="text" id="input_Pos">
        </div>
        <button>确定</button>
    </div>
</div>

</body>
<script src="index.js"></script>
<script src="data.js"></script>

</html>